* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #696969;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
  padding: 15px 0;
  width: 90%;
  margin: 0 auto;
}

header .heading {
  font-size: 32px;
}

nav .nav-list {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 3px solid #121212;
  border-top: 3px solid #111111;
}

nav .nav-list .nav-list-item {
  display: inline-block;
  margin: 0 20px;
}

.main-visual {
  width: 100%;
  height: 300px;
  background-image: url("images/mv.jpg");
  background-position: center;
  background-size: cover;
}

.main-visual .main-visual-content {
  width: 40%;
  height: 300px;
  padding-top: 105px;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-visual .main-visual-content .main-visual-text {
  color: #fff;
  margin-bottom: 15px;
}

.main-visual .main-visual-content .main-visual-name {
  color: #fff;
}

main {
  width: 800px;
  height: 1400px;
  margin: 0 auto;
}

.blog .blog-heading {
  text-align: center;
  border-bottom: 3px solid #333300;
  font-size: 30px;
}

.blog .section-content {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.blog .blog-box {
  width: 550px;
  margin-right: 50px;
}

.blog .blog-box .blog-item {
  display: flex;
  padding: 30px 0;
  border-bottom: 3px solid #696969;
}

.blog .blog-box .blog-item:first-child {
  padding-top: 0;
}

.blog .blog-box .blog-item .blog-text {
  padding: 15px;
}

.blog .blog-box .blog-item .blog-text .blog-text-heading {
  padding-top: 10px;
}

.blog .blog-box .blog-item .blog-text .blog-date {
  padding: 20px 0;
  display: inline-block;
}
.blog .blog-box .blog-item .blog-text .category {
  border: 1px solid #696969;
  border-radius: 3px;
  display: inline-block;
  background-color: rgba(69, 69, 69, 0.4);
}

.blog .blog-box .blog-item .blog-image {
  height: 180px;
}

.blog .blog-box .pagination {
  display: flex;
  justify-content: center;
  margin: 5px 5px;
}

.blog .blog-box .pagination * {
  margin: 5px 5px;
  padding: 0 3px;
  border: 1px solid #666;
}

.blog .sidebar {
  width: 200px;
}

.blog .sidebar .sidebar-heading {
  border-bottom: 3px solid #595959;
  text-align: center;
}
.blog .sidebar .sidebar-contents {
  padding: 30px 0;
}

.blog .sidebar .sidebar-contents .popular-text,
.blog .sidebar .sidebar-contents .categories-text {
  margin-bottom: 10px;
}

.blog .sidebar .sidebar-contents .popular-text:last-child,
.blog .sidebar .sidebar-contents .categories-text:last-child {
  margin-bottom: 0;
}

.blog .sidebar .instagram .sidebar-contents {
  display: flex;
  flex-wrap: wrap;
}

.blog .sidebar .instagram .sidebar-contents .instagram-box {
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: contain;
}

.blog .sidebar .instagram .sidebar-contents .instagram-box {
  margin-bottom: 15px;
}

.blog .sidebar .instagram .sidebar-contents .instagram-box:nth-child(odd) {
  margin-right: 40px;
}

.blog .sidebar .instagram .sidebar-contents .instagram-box:nth-child(1) {
  background-image: url("images/japan.jpg");
}
.blog .sidebar .instagram .sidebar-contents .instagram-box:nth-child(2) {
  background-image: url("images/japan2.jpg");
}
.blog .sidebar .instagram .sidebar-contents .instagram-box:nth-child(3) {
  background-image: url("images/person.jpg");
}
.blog .sidebar .instagram .sidebar-contents .instagram-box:nth-child(4) {
  background-image: url("images/road.jpg");
}
.blog .sidebar .instagram .sidebar-contents .instagram-box:nth-child(5) {
  background-image: url("images/lake.jpg");
  margin-bottom: 0;
}
.blog .sidebar .instagram .sidebar-contents .instagram-box:nth-child(6) {
  background-image: url("images/snow.jpg");
  margin-bottom: 0;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  background-color: #696969;
  line-height: 120px;
}

footer .footer-text {
  color: #fff;
}
